.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}
.app-content, .app-content > * {
  display: flex;
}

.app-content, .app-graph-container {
  justify-content: center;
  align-items: center;
}

.app-content {
  flex-flow: row;
  width: 100%;
  height: 100%;
  .app-graph-container {
    width: 50%;
    height: auto;
    background-color: #c7c7c7;
    margin: 20px;
    flex-flow: column;
    .top-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      margin-bottom: 15px;
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        .react-toggle-track {
          background-color: #4d4d4d;
        }
      }
      .react-toggle {
        margin: 0 15px;
      }
      .graph-title {
        color: black;
      }
    }
    .react-stockchart {
      display: flex;
    }
    &:first-child {
      margin-right: 0px;
    }
  }
}
